# Created by .ignore support plugin (hsz.mobi)
将删除 .gitignore
将删除 .gradle/
将删除 .idea/.gitignore
将删除 .idea/compiler.xml
将删除 .idea/gradle.xml
将删除 .idea/jarRepositories.xml
将删除 .idea/misc.xml
将删除 .idea/vcs.xml
将删除 gradle/
将删除 gradlew
将删除 gradlew.bat
